.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.justify-center {
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.rounded-full {
  border-radius: 9999px;
}

.justify-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.gap-4 {
  gap: 1rem;
}

.p-4 {
  padding: 1rem;
}

.mx-auto {
  margin: 0 auto;
}

.mx-20 {
  margin: 0 5rem;
}

.max-w-xl {
  max-width: 36rem;
}

.min-h-screen {
  min-height: 100vh;
}

.h-8 {
  height: 2rem;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
body {
  text-align: center;
}
.bg-image {
  background-image: url("images/christmas2.jpg");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
